## Rain-Wind-Lightning Cleaning Notebook ##

Schoeggl_Vorauer 2020

cleaning Rain-Wind-Lightning data

datasetlink: http://www.bom.gov.au/australia/stormarchive/

In [48]:
# importing necassary libaries
import pandas as pd
from Function_Definitions import *

In [36]:
# loading in the rain-, wind- and lightning csv files from the Data\Raw\ directory
rain = pd.read_csv(r'..\Data\Raw\rain.csv')
wind = pd.read_csv(r'..\Data\Raw\wind.csv')
lightning = pd.read_csv(r'..\Data\Raw\lightning.csv')

In [37]:
# combining the DF's to a list to loop over them
dfs = [rain, wind, lightning]

In [38]:
# renaming Latitude and Longitude into latitude and longitude
for i in dfs: i.rename(columns={'Latitude': 'latitude', 'Longitude': 'longitude'}, inplace=True)

In [39]:
# changing the Date/Time column to a datetime object
for i in dfs: i['Date/Time'] = pd.to_datetime(i['Date/Time'])

In [40]:
#  splitting the date and time values into separate columns
for i in dfs:
    i['acq_date'] = [j.date() for j in i['Date/Time']]
    i['acq_time'] = [j.time() for j in i['Date/Time']]

In [41]:
# dropping unecassary columns
for i in dfs: i.drop(['Number of injuries', 'Number of deaths', 'Insurance payout', 'Damage total', 'Date/Time'], 1, inplace=True)

checking if everything is ok so far

In [43]:
rain.keys()

Index(['Rain ID', 'Nearest town', 'State', 'latitude', 'longitude',
       'Severity confidence description', 'Intense precipitation amount',
       'Intense precipitation period', 'Total precipitation',
       'Total precipitation duration', 'Water course', 'Unnamed: 16',
       'acq_date', 'acq_time'],
      dtype='object')

In [44]:
wind.keys()

Index(['Wind ID', 'Duration', 'latitude', 'longitude', 'Nearest town', 'State',
       'Source', 'Max Gust speed', 'Max Gust direction', 'Max Mean Wind speed',
       'Max Mean Wind direction', 'Path length', 'Path width',
       'Path direction', 'Fujita scale', 'Unnamed: 20', 'acq_date',
       'acq_time'],
      dtype='object')

In [45]:
lightning.keys()

Index(['Lightning ID', 'latitude', 'longitude', 'Nearest town', 'State',
       'Source', 'Severity confidence description', 'Max current',
       'Flash rate', 'Power line deaths', 'Unnamed: 15', 'acq_date',
       'acq_time'],
      dtype='object')

In [47]:
# dropping unique columns
rain.drop(['Rain ID', 'Unnamed: 16'], 1, inplace=True)
wind.drop(['Wind ID', 'Unnamed: 20'], 1, inplace=True)
lightning.drop(['Lightning ID', 'Unnamed: 15'], 1, inplace=True)

In [49]:
# adding Year and Month column to the DF's; year_month defined in the Function_Definitions file
for i in dfs: i = year_month(i)

In [67]:
# adding season column to the DF's
for i in dfs: i['season'] = ((i.Month+3)%12+3)//3

final check if everything looks good

In [57]:
rain.head()

,Nearest town,State,latitude,longitude,Severity confidence description,Intense precipitation amount,Intense precipitation period,Total precipitation,Total precipitation duration,Water course,acq_date,acq_time,Year,Month,season
0,walcha,NSW,-30.93,151.72,Estimate of rainfall (eg. from filling of rece...,25.0,10.0,35,0,NaN,2006-01-06,05:05:00,2006,1,1
1,rosebank,NSW,-28.64,153.41,Other measurement of rainfall.,0.0,0.0,505,0,NaN,2006-01-07,01:00:00,2006,1,1
2,Walcha,NSW,-30.99,151.59,Other measurement of rainfall.,54.0,35.0,54,0,NaN,2006-01-12,05:15:00,2006,1,1
3,Forbes,NSW,-33.39,148.01,Other measurement of rainfall.,53.0,60.0,53,0,NaN,2006-01-15,05:20:00,2006,1,1
4,Goulburn,NSW,-34.75,149.73,Bureau measurement of rainfall.,85.0,240.0,85,0,NaN,2006-01-15,21:54:00,2006,1,1

In [58]:
wind.head()

,Duration,latitude,longitude,Nearest town,State,Source,Max Gust speed,Max Gust direction,Max Mean Wind speed,Max Mean Wind direction,Path length,Path width,Path direction,Fujita scale,acq_date,acq_time,Year,Month,season
0,0,-36.88,149.24,Bombala,NSW,AWS,48,0,0,0,0,0,0,0,2006-01-01,03:32:00,2006,1,1
1,0,-35.94,148.38,Cabramurra,NSW,AWS,63,0,0,0,0,0,0,0,2006-01-01,04:44:00,2006,1,1
2,0,-36.23,149.12,Cooma,NSW,AWS,56,0,0,0,0,0,0,0,2006-01-01,05:16:00,2006,1,1
3,0,-30.93,151.72,walcha,NSW,SPOTTER,0,0,0,0,0,0,0,0,2006-01-06,04:30:00,2006,1,1
4,0,-28.85,153.05,Casino,NSW,AWS,54,0,0,0,0,0,0,0,2006-01-06,08:45:00,2006,1,1

In [56]:
lightning.head()

,latitude,longitude,Nearest town,State,Source,Severity confidence description,Max current,Flash rate,Power line deaths,acq_date,acq_time,Year,Month,season
0,-35.0180,117.8840,Albany,WA,Albany Extra,NaN,0,0,0.0,2006-03-01,00:00:00,2006,3,2
1,-34.5067,150.7929,DAPTO,NSW,NaN,based only on physical evidence at the scene a...,0,0,NaN,2009-10-05,04:00:00,2009,10,4
2,-28.6651,153.2845,THE CHANNON,NSW,Spotter,based only on physical evidence at the scene a...,0,0,NaN,2009-11-17,07:00:00,2009,11,4
3,-31.1095,150.9147,SOUTH TAMWORTH,NSW,Storm Spotter,based on actual observation of event by other ...,0,0,NaN,2011-03-11,03:40:00,2011,3,2
4,-31.9652,141.4513,BROKEN HILL,NSW,Storm Spotter,based on actual observation of event by other ...,0,0,NaN,2011-02-28,08:15:00,2011,2,1

In [69]:
# saving the DF's into the Data/Clean/ folder
rain.to_csv(r'..\Data\Clean\rain.csv', index=False)
wind.to_csv(r'..\Data\Clean\rain.csv', index=False)
lightning.to_csv(r'..\Data\Clean\lightning.csv', index=False)